body {
    background-color: #bec5cc;
}

h1 {
    text-align: center;
    color: #062085;
    font-family: 'Arial', sans-serif;
}

.table {
    margin-top: 20px;
    border: 2px solid #007bff;
    border-radius: 8px;
}

.table th, .table td {
    font-weight: bold;
}

.table th {
    background-color: #097af2;
    color: rgb(82, 169, 251);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(7, 108, 223, 0.699);
}
.table-bordered td, .table-bordered th {
    border: 1px solid #00050b; 
}
